* {
    box-sizing: border-box;
}
body{
    padding: 0;
    padding-left: 15em;
    font-family:sans-serif;
    font-size:15px;
    color: black;
    text-align: justify;
    background-color:rgba(105, 105, 105, 0.91);
}
.div-imagen-fondo{
    background-image: url(fondo.jpg);
}
h1 {
    color: black;
    text-align: center;
}

.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background:rgb(210, 210, 209);
    border-radius: 7px;
}

.form-titulo{
    background:rgb(184, 37, 37);
    color:black;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid gray;
}
.input-48{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
}
.form-link{
    width: 100%;
    margin: 0;
    font-size: 14px;
}
ul.navbar{/*define la posicion del menù de navegacion*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:2em;
    left: 2em;
    width: 12em;
    
}
Hx{
    font-size: 30px;
    padding-left:15px;
    background-color:darkseagreen;
    font-size:80px;
    margin: auto;
    left:auto;
    width: auto;
    text-align:inherit;
    font-size:15px;
}
ul.navbar li{/*Coloca el fondo del menù*/
    margin: 0.9em 0;
    padding: 0.9em;
    border-top: 1em solid black;
    background-color: white;
    
}

html{
    box-sizing: border-box;
    font-size: 60.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}
.img-fondo{
    background-image: url(fondo.jpg);
}
img{
    width: 100%;
}
.velo-negro{
    background-color: rgba(0,0,0,0.5);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: center;
}
.logo-img{
    max-width: 40rem;
    margin: 3rem 0;
}
nav{
    margin: 3rem 0 8rem 0;
    background-color: rgba(255,55,55,0.768);
    padding: 2rem;
    display: flex;
    justify-content: center;
    grid-gap: 10rem;
}

a{
    text-decoration: none;
}

nav a{
    font-family: sans-serif,Arial,Helvetica;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
}

nav a:hover{
    color: black;
}

.nuestros-productos{
    font-family: Arial,Heltica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
        
        
.producto{
    background-color: white rgba(255,55,55,0.768);
    margin: 2rem;
    padding: 2rem;
}

.producto img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius:10px 10px 0 0; 
    transition: all, 5s;
}
.producto-blanco{
    background-color: white;
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-precio,
.producto-nombre{
    color: black;
    padding: 15px 30px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.producto-precio{
    font-size: 20px;
    font-weight: 900;
    color: red;

}

.info-producto{
    color: black;
    padding:0;
    background-color: white;
    text-transform:none;
    text-align: justify;

}
.producto-nombre{
    padding:0;
    line-height: 2;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 15px;
    font-weight: 900;
}
.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    
}
.Pet Shop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10rem;
}
.container{
    background-color: #f1f1f1;
    padding: 20 px;
    width: 800 px;
    margin: auto;
}
.formulario{
    width: 400 px;
    background-color: #fff;
    padding: 20 px;
    border:solid 1px #CCC;
    margin: auto;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

















        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
}